@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

// scrollbar style thin gray
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #4050bf;
}

// remov escrollbar class
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
}

// * For markdown icon
img[alt^="icon-"] {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 0.7em;
  display: inline;
}

.font-inter {
  font-family: var(--font-inter);
}
.font-serif {
  font-family: var(--font-serif);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.markdown {
  all: initial;
  * {
    all: initial;
  }
}

.svg-white {
  stroke: white;
  path {
    fill: white;
  }
}
.svg-black {
  stroke: black;
  path {
    fill: black;
  }
}

.loading-skeleton {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading-skeleton-anim 1.5s infinite;
}

@keyframes loading-skeleton-anim {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.loading-border {
  > * {
    z-index: 1;
  }
  &::before {
    position: absolute;
    content: " ";
    display: block;
    width: 160px;
    height: 1600%;
    background: linear-gradient(
      90deg,
      transparent,
      #d9dcf2,
      #4050bf,
      #263073,
      transparent
    );
    animation: full-rotation 5000ms infinite linear;
  }
}

@keyframes full-rotation {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

// smooth animation for translate y
.smooth-descend {
  animation: smooth-descend 0.5s ease forwards;
}
@keyframes smooth-descend {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.75s ease forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
